fastapi==0.111.1
fastapi_plugins==0.13.1
python-multipart==0.0.9
uvicorn==0.30.4
PyMuPDF==1.24.9
PyYAML==6.0.1
beautifulsoup4==4.12.3
python-docx==1.1.2
python-pptx==1.0.2
chardet==5.2.0
striprtf==0.0.26
pandas==2.2.2
xlrd==2.0.1
redis==4.6.0
ollama==0.1.9
python-json-logger==2.0.7
pydantic-settings>=2.0.0
pydantic>=2.0.0